body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}

label {
    display: block;
    margin: 30px auto 10px auto;
}

input {
    font-size: 1.2rem;
    padding: 10px;
}

button {
    margin-top: 30px;
    display: block;
}

.checkbox,
.radio {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.checkbox label,
.radio label {
    margin: 0px;
}

.checkbox input,
.radio input {
    margin: 0px;
    width: 20px;
    height: 20px;
}

select {
    font-size: 1.2rem;
    padding: 10px;
}

textarea {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    background: #caf;
    border: none;
    color: #127;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

[required] {
    border: 2px solid tomato;
    border-radius: 4px;
}

a[href="#contato"] {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;
    color:#127;
}

/* OU [href="#contato"] {
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid lightsteelblue;
        border-radius: 4px;
        color:#127;
} */

/* selecionar o primeiro elemento */

[href^="#"] {
    background: #caf;
}

[href$="origamid"] {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 4px;
    background: lightsteelblue;
}