:root {
    --color1: #f7f7f7;
    --color2: #fff;
    --color3: #141414;
    --color4: #c6c6c6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color1:#141414;
        --color2:#000;
        --color3:#f7f7f7;

    }
}
/* configuração gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background: var(--color1);
    display: grid;
    justify-items: center;
    margin-top: 4rem;
    gap: 4rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin:0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* configurações do header */

.header {
    display: grid;
    justify-items: center;
    gap: 4rem;
}

.header_logo {
    color:var(--color3);
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.header_nav_link {
    display: block;
    background: var(--color2);
    padding: 1rem 2rem;
    border-radius: 4px;
    color: var(--color3);
    text-transform: uppercase;
    border: solid 2px transparent;
}

.header_nav_link:hover {
    border-color: #e21;
}

/* configurações do main */

.main {
    max-width: 1000px;
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.article_text {
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
    background: var(--color2);
    padding: 2.5rem;
    text-align: right;
    position: relative;
}

.article_text p {
    color: var(--color3);
}

.article_text_title {
    font-size: 2rem;
    color: var(--color3);
}

.article_text::after {
    content: "";
    width: 60px;
    height: 4px;
    background: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.article_text_img {
    object-fit: cover;
    height: 100%
}

.article_text_button {
    background: #e21;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.article_text_button:hover {
    background: #900;
}

.article-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--color3);
}

.article-features_title {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color4);
    text-align: right;
    padding: 2.5rem;
    align-self: center;
    background-image: url("../img/onda.svg");
    /* word-break: break-all; */
}

.article-features_list_item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.6rem 1.2rem;
    padding: 1.25rem;
    border-left: 4px solid transparent;
}

.article-features_list_item:hover {
    border-color: #e21;
}

.article-features_list_item:nth-child(odd) {
    background-color: var(--color2);
    color:var(--color3);
}

.article-features_list_item:nth-child(even) {
    background-color: var(--color3);
}

.article-features_list_item_text {
    grid-column: 2;
}

/* configurações do footer */

.footer {
    background: var(--color2);
    width: 100%;
    text-align: center;
    padding: 2.5rem;
    box-sizing: border-box;
    margin: 0;
}

.footer p {
    color: var(--color3);
}

@media (max-width: 1000px) {
    .article-features {
        grid-template-columns: 1fr;
        justify-items: center
    }

    .article-features_title {
        text-align: center;
    }
}

@media (max-width: 720px) {
    body {
        gap: 2rem;
        margin-top: 2rem;
    }
    .header {
        gap: 2rem;
    }
    .article {
        grid-template-columns: 1fr;
    }
    .article_text::after {
        display: none;
    }
    .article_text {
        justify-items: start;
        text-align: left;
    }
    .article-features_title {
        font-size: 3rem;
    }
}

@media (max-width: 400px) {
    .article-features_title {
        font-size: 2rem;
    }
}