#introducao {
    color: gold;
}

.codigo {
    color: blue;
}

.design {
    color: red;
}

.grande {
    font-size: 32px;
}

.azul {
    color: blue;
}

.underline {
    text-decoration: underline;
}
